<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= "#{@person.name} #{@person.last_name}" %>
</p>


<p>
  <strong>Joined:</strong>
  <%= @person.joined %>
</p>

<p>
  <strong>Going:</strong>
  <%= @person.going %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
